
.first {
    width: 350px;
}
.second{
    width: 350px;
    margin-top: 10px;
}
.Input{
    margin-left: 68px;
}
.wrongInput{
    color: orangered;
    font-weight: 500;
    display: none
}
.wrongInputShow{
    color: orangered;
    font-weight: 500;   
}