.contnet-main-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .first-row {
        display: flex;
        .information-list {
            margin-right: 50px;
            height: 400px;
            width: 550px;
        }
    }
}
