.query-wrapper {
    height: 100%;
    padding: 0 30px;
    .query-top-bar {
        .input-user-name {
            width: 200px;
        }
        .input-user-num {
            width: 200px;
        }
        .confirm-btn {
            width: 100px;
        }
    }
}