.sign-in-body-all {
    width : 350px;
    height: 350px;
    border : 1px solid #ccc;
    .sign-in-body-top {
        border-bottom: 1px solid #ccc;
    }
    .sign-in-body-under {
        margin-top: 30px;
        position: relative;
    }
    .sign-in-body-middle {
        .example-input {
            width : 300px;
            margin: 14px auto;
            .sign-in-tips {
                padding-top: 7px;
                color : red;
            }
            .signinput{
                height: 35px;
                margin-bottom : 14px;
            }
        }
       
    }
    .signbtn {
        position: absolute;
        left: 0;
        right: 0;
        width : 300px;
        margin : 30px auto;
    }
}
.card-container > .ant-tabs-card > .ant-tabs-content {
    margin-top: -11px;
    margin-bottom: 5px;
  }
  
.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
background: #fff;
}

.card-container > .ant-tabs-card > .ant-tabs-bar {
border-color: #fff;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
border-color: transparent;
background: transparent;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
border-color: #fff;
background: #fff;
}